<div class="container">
  <!-- <form> -->
    <br />
    <div class="form-group">
      <textarea appMarkDown [plainText]="textInput" class="form-control" id="textInput" rows="3" placeholder="Type something!"
      (input)="onTextChange($event)" (output)="handleOutput($event)"></textarea>
    </div>
    <br />
    <div class="form-group">
      <!-- <textarea class="form-control" id="textOutput" rows="3" placeholder="Type something!" value={{textOutput}} readonly>  
      </textarea> -->
      <div class="card">
        <div class="card-body" [innerHTML]="textOutput">

        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" >Preview</li>
        </ul>
      </div>
    </div>
  <!-- </form> -->
  
  
</div>